
@model Demo_HR_Management_System.Models.Employee


@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div id="add-employee-form">
    <h2 class="Heading-center">Edit Employee</h2>
    <form action="/Admin/EditSuccess/" method="post">
        <label for="emp-id">Employee ID:</label>
        <input type="text" value="@Model.EmpId" id="emp-id" name="txtEmpId" desable>

        <label for="emp-name">Employee Name:</label>
        <input type="text" value="@Model.EmpName" id="emp-name" name="txtEmpName" required>

        <label for="mobile">Mobile Number:</label>
        <input type="text" value="@Model.EmpMobile" id="mobile" name="txtEmpMobile" required>

        <label for="email">Email ID:</label>
        <input type="email" value="@Model.EmpEmail" id="email" name="txtEmpEmail" required>

        <label for="city">City:</label>
        <input type="text" value="@Model.EmpCity" id="city" name="txtEmpCity" required>

        <label for="designation">Designation:</label>
        <input type="text" value="@Model.EmpDesignation" id="designation" name="txtEmpDesignation" required>

        <label for="salary">Salary:</label>
        <input type="number" value="@Model.EmpSalary" id="salary" name="txtEmpSalary" required>

        <button type="submit">Update</button>
    </form>

    <p style="color:red">@ViewBag.message </p>

</div>

<style>

    .Heading-center {
        text-align: center;
    }
    #add-employee-form {
        width: 400px;
        margin: 50px auto;
        padding: 15px;
        background: white;
        border-radius: 10px;
        color: #2483A6;
        text-align: left;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid #2483A6;
    }

        #add-employee-form h2 {
            margin-bottom: 20px;
            color: #2483A6;
        }

        #add-employee-form label {
            display: block;
            margin-bottom: 6px;
            color: #2483A6;
            font-weight: normal;
        }

        #add-employee-form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            border: 1px solid #2483A6;
            border-radius: 5px;
            font-size: 14px;
        }

        #add-employee-form button {
            width: 100%;
            padding: 8px;
            background-color: #2483A6;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

            #add-employee-form button:hover {
                background-color: #1e6c82;
            }
</style>



